<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="theme-color" content="#000000" />

		<title>Servidor em NODE.js</title>

		<link rel="shortcut icon" href="img/favicon.ico" />
		<link rel="stylesheet" href="css/pages-style.css" type="text/css" />

		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>

		<script type="text/javascript">
			const ioConnection = () => {
				const showData = (connected, ...data) => {
					const el = document.getElementById('panel-home-date');

					if (connected) {
						el.innerHTML = `${data} h`;
						el.style.color = '';
					} else {
						el.style.color = 'red';
					}
				};

				const socket = io.connect('<%= ioUrl %>', { path: '<%= ioPath %>', transports: ['websocket', 'polling'], forceNew: true });

				socket.on(
					'serverTimeTick',
					data => {
						showData(true, data);
					}
				);

				socket.on(
					'connect',
					() => {
						socket.emit('serverTimeStart');
					}
				);

				socket.on(
					'disconnect',
					() => {
						showData(false);
					}
				);
			};

			ioConnection();
		</script>
	</head>
	<body>
		<div id="wrapper">
			<div id="content">
				<img id="logo-img" src="img/server-logo.png" alt="logo" />
				<h2>Bem vindo, servidor em Express NODE.js</h2>
			</div>

			<hr />

			<em><%= (server.name ? `${server.name}, ` : '') %>versão <strong><%= (server.version || 'N/D') %></strong></em>

			<div class="panel panel-home-bottom">
				Hora do servidor : <span id="panel-home-date"><%= date %> h</span>
			</div>
		</div>
	</body>
</html>
